{% extends 'main/base.html' %}

{% block title %}
Добавить
{% endblock %}

{% block content %}
    <h1>Добавить пересчет</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.details_name }}<br>
        {{ form.code }}<br>
        {{ form.quantity_actual }}<br>
        {{ form.quantity_1c }}<br>
        {{ form.delta }}<br>
        {{ form.adjustments }}<br>
        {{ form.adjustments_marriage }}<br>
        {{ form.after_adjustment_quantity_actual }}<br>
        {{ form.after_adjustment_quantity_1c }}<br>
        {{ form.after_adjustment_delta }}<br>
        {{ form.release_date }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
{% endblock %}